.offscreen
 {
 clip-path: inset(100%);
 clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
 }

 summary {
	display:block; 
	background:rgb(118, 169, 216);
	color:white;
	border-radius:5px;
	padding:5px;
	cursor:pointer;font-weight:bold;
}

 summary:after {
     content: "+";
     color:darkslateblue;
     float:left;
     font-size:1.5em;
     font-weight: bold;
     margin: -5px 5px 0 0;
     width: 20px;
 }

 details[open] summary:after {
     content: "-";
 }

 summary::-webkit-details-marker {
     display:none
 }

 aside {
     padding:  2rem;
     margin-left: 5.5rem;
     float: right;
     box-shadow: inset 5px 0 5px -5px rgb(118, 169, 216);
     font-style: italic;
     color: rgb(118, 169, 216);
     width: 25%;
     background-color: lightgray;
 }

 body {
     background-image: url("images/3PO-pale.jpeg");
     background-repeat: repeat;
     background-size: 50%;
     cursor: url('images/green-saber.png'),  default !important;		
 }

 footer, article{
    background-color: lightgray;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    margin:2rem;
    padding:1rem;
    cursor: url('images/green-saber.png'),  default !important;	
 }

article {
    width: 55%;
}

footer, h2 {
    text-align: center;
}

 nav {
     font-style: bold;
 }

 .marquee {
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .marquee h1 {
    display: inline-block;
    padding-left: 100%;
    /* show the marquee just outside the paragraph */
    animation: marquee 15s linear infinite;
  }
  
  .marquee h1:hover {
    animation-play-state: paused
  }
  
  
  /* Make it move */
  
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
 